.inputField{
  width: 400px;
  margin-left: 70%;
}

.button {
  margin-top: 1%;
  margin-right: 55%;
}

.ageCard{
  margin-left: 25%;
  margin-top: 50px;
  width: 50%;
}

.ageCardBody{
  margin-top: 10%;
}

.ageTitle{
  font-size: 40px;
}

.ageText{
  font-size: 30px;
}

.dogImage{
  padding: 0px;
  border: none;
}

.pictureHeight{
  height: 300px;
}

.backgroundColor{
  background-color: #e6f2ff;
}
