<div class="text-center">
  <h1>Enter your name and get your age and nationality</h1>
    <form>
        <div class="row">
          <div class="col">
            <div class="form-floating inputField">
              <input class="form-control" type="text" name="name" id="name" [(ngModel)]="input">
              <label for="name">Your name</label>
            </div>
          </div>
          <div>
            <button class="btn btn-outline-info button" (click)="getAgeByName(input); getNationalityByName(input)">Get your age and nationality</button>
          </div>
      </div>
    </form>
  <div *ngIf="showCard" class="card cards">
    <div class="row">
      <div class="backgroundColorForAge col-sm-6">
        <div>
        <div class="card-body ageCardBody">
          <h5 class="card-title ageTitle">{{age}}</h5>
          <p class="card-text ageText">{{name}} you are {{age}} years old!</p>
        </div>
        </div>
      </div>
      <div class="backgroundColorForNationality col-sm-6">
        <div>
          <div class="card-body ageCardBody">
            <h5 class="card-title ageTitle">Top 5 Nationalities</h5>
            <ol>
              <li *ngFor="let n of nationality">{{n}}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 *ngIf="nameNotFound">This name couldn't be found sorry</h3>
</div>
