<h1 class="text-center">Get information about each Harry Potter house</h1>
<select  [(ngModel)]="id" (ngModelChange)="getHouseInformation(id)" class="form-select">
    <option value="0367baf3-1cb6-4baf-bede-48e17e1cd005">Gryffindor</option>
    <option value="805fd37a-65ae-4fe5-b336-d767b8b7c73a">Ravenclaw</option>
    <option value="85af6295-fd01-4170-a10b-963dd51dce14">Hufflepuff</option>
    <option value="a9704c47-f92e-40a4-8771-ed1899c9b9c1">Slytherin</option>
</select>
<div class="information" *ngIf="showInformation">
    <p><b>Name of the house:</b> {{houseName}}</p>
    <p><b>Colors:</b> {{houseColors}}</p>
    <p><b>Animal:</b> {{houseAnimal}}</p>
    <p><b>Ghost:</b> {{houseGhost}}</p>
    <p><b>Common traits:</b></p>
    <ul>
        <li *ngFor="let trait of houseTraits">{{trait}}</li>
    </ul>
</div>
