<nav class="navbar navbar-expand bg-info bg-opacity-25">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="navbar-brand">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="navbar-brand">
                    <a class="nav-link active" href="/guesser">Guesser</a>
                </li>
                <li class="navbar-brand">
                    <a class="nav-link active" href="/holiday-check">Check if a date is a holiday</a>
                </li>
                <li class="navbar-brand">
                    <a class="nav-link active" href="/covid19-info">Covid19 in Switzerland</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
