<nav class="navbar navbar-expand bg-info bg-opacity-25 navigation sticky-top">
    <div class="">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="fw-bold nav-link active" href="/">Home</a>
                <a class="nav-link active" href="/guesser">Guesser</a>
                <a class="nav-link active" href="/holiday-check">Check if a date is a holiday</a>
                <a class="nav-link active" href="/covid19-info">Covid19 in Switzerland</a>
            </ul>
        </div>
    </div>
</nav>
