.canton{
    margin-top: 30px;
}

.infections{
    margin-top: -50px;
}

.infection{
    margin-top: -25px;
}

* {
    border: none;
}

.alertUpdate{
    width: 25%;
    margin-left: 37%;
}

.informationAlert{
    width: 72%;
    margin-left: 14%;
}
