<div class="text-center">
    <h1>Welcome ^^</h1>
    <h4>I programmed this website to learn more about API's and how they work. It's not perfect but i'm still proud of the result</h4>
    <h2>Here are all the little projects I've programmed</h2>
    <div class="d-grid gap-2 col-6 mx-auto allProjects">
        <button class="btn btn-info" type="button"><a href="/guesser" class="nav nav-link active">Guesser</a></button>
        <button class="btn btn-info" type="button"><a href="/holiday-check" class="nav nav-link active">Holiday-Checker</a></button>
        <button class="btn btn-info" type="button"><a href="/covid19-info" class="nav nav-link active">COVID19-Info</a></button>
        <button class="btn btn-info" type="button"><a href="/faviconer" class="nav nav-link active">Faviconer</a></button>
    </div>
</div>
